@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body, html {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(to bottom, #917AEB, #3DB6DC); 
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
