@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body,
html {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(to bottom, #917AEB, #3DB6DC);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#homeButton {
	position: fixed;
	top: 10px;
	left: 10px;
	width: 10%;
}

#back {
	width: 5%;
	color: white;
	font-size: 20px;
	border: 1px solid white;
	border-radius: 5px;
	text-align: center;
	margin: 5px;
	position: fixed;
	top: 10px;
	right: 10px;
	padding: 5px;
}

#back:hover {
  color: black;
}

.main {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 40%;
}

#menu {
  min-width: 70%;
}

button#create {
  margin-top: 50px;
}

button#join {
  margin-bottom: 50px;
}

button#leaderboard {
  position: absolute;
  left: 50%;
  bottom: 30px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

.center {
  border: solid 3px white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  padding: 40px 0;
}

button {
  width: 300px;
  margin: 10px;
  border: solid 3px white;
  border-radius: 10px;
  font-size: 200%;
  background-color: hsla(0, 0%, 100%, 0.25);
  color: white;
  font-family: 'Poppins', sans-serif;
  padding: 0;
}

button:hover {
  background-color: white;
  color: black;
}

fieldset {
  border-top: 3px solid white;
  border-bottom: none;
  border-left: none;
  border-right: none;
  display: block;
  text-align: center;
  padding: 0;
  font-size: 150%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

fieldset legend {
  padding: 5px 10px;
}

h1 {
  font-size: 300%;
  text-align: center;
}

input[type="text"] {
  border: 2px solid white;
  font-family: 'Poppins', sans-serif;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  color: white;
  font-size: 150%;
  padding-left: 20px;
  box-shadow: none;
  background-color: hsla(0, 0%, 100%, 0.25);
  margin-bottom: 10px;
  padding: 10px 5px 5px 5px;
}

input:focus+label,
input:valid+label {
  font-size: 12px;
  color: black;
  top: 5px;
  left: 5px;
  background: none;
  padding: 0px 5px 0px 5px;
}

#creator {
  width: 102%; 
  height:auto; 
  position:relative;
  margin-right: 16px;
  margin-left: 2px;
  /* margin: auto; */
}

.input_wrap:not(#creator) {
  width: 90%;
  height: auto;
  position: relative;
  margin-right: 10px;
}

.input_wrap label {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 150%;
  padding: 15px;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  pointer-events: none;
}

input[type='submit']:disabled {
  border: solid 1px white;
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
  width: 100px;
  margin: 0;
  border-radius: 10px;
  font-size: 150%;
  font-family: 'Poppins', sans-serif;
}

input[type='submit'] {
  border: solid 1px black;
  background-color: white;
  color: black;
  width: 100px;
  margin: 0;
  border-radius: 10px;
  font-size: 150%;
  font-family: 'Poppins', sans-serif;
}

input[type='submit']:hover:not(:disabled) {
  border: solid 1px white;
  background-color: black;
  color: white;
  width: 100px;
  margin: 0;
  border-radius: 10px;
  font-size: 150%;
  font-family: 'Poppins', sans-serif;
}

form#join {
  padding: 35px 10px;
}

input[type='number'],
select {
  width: 100%;
  border: solid 1px white;
  border-radius: 10px;
  font-size: 150%;
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

input[type='number']::placeholder {
  color: white;
}

form#create {
  padding: 30px;
}

#lobbyID {
  border: 3px solid white;
  border-radius: 10px;
  width: 60%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.25);
  font-size: 150%;
  padding: 10px 0;
}

#lobby {
  width: 60%;
}

#gameHeader {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
}

#player,
#timer {
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.25);
  margin: 20px 0;
  padding: 10px;
  font-size: 150%;
}

#turn {
  margin: 20px 0;
  padding: 10px;
  font-size: 150%;
}

#question {
  width: 95%;
  margin: 20px auto;
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.25);
  padding: 20px 0;
  font-size: 150%;
}

#progressBar {
  width: 50%;
  border: solid white 1px;
  border-radius: 11px;
  margin: auto;
  width: 95%;
}

#progress {
  background-color: rgb(255, 255, 255);
  width: 0%;
  /* change */
  border-radius: 10px;
  margin: 0;
  height: 15px;
}

#answerBox {
  width: 95%;
  margin: 20px auto;
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px 0;
  font-size: 150%;
  height: 450px;
}

#answerForm {
  display: flex;
  flex-direction: column;
}

#answerForm>input[type='submit'] {
  width: 10%;
  margin: auto;
  font-size: 100%;
}

#otherPlayer {
  position: relative;
  height: 100%;
}

#otherPlayer>div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.leaderboardRow {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 10px auto;
  border: solid 1px white;
  border-radius: 10px;
  padding: 0 10px;
}

.leaderboardRow:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

#winner {
  width: 60%;
  margin: 10px auto;
  border: solid 1px white;
  border-radius: 10px;
  padding: 20px 10px;
  font-size: 150%;
  background-color: rgba(255, 255, 255, 0.25);
}

.hide {
  display: none !important;
}


#a1,
#a2,
#a3,
#a4 {
  display: none
}

#answer1,
#answer2,
#answer3,
#answer4 {
  width: 95%;
  margin: 15px auto;
  border: 1px solid white;
  border-radius: 5px;
  text-align: left;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 150%;
  color: white;
  cursor: pointer
}

#answer1:hover,
#answer2:hover,
#answer3:hover,
#answer4:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

select option {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

#a1:checked ~ label #answer1, 
#a2:checked ~ label #answer2,
#a3:checked ~ label #answer3,
#a4:checked ~ label #answer4, 
#a1:hover ~ label #answer1,
#a2:hover ~ label #answer2,
#a3:hover ~ label #answer3,
#a4:hover ~ label #answer4 {
  background-color: rgba(255, 255, 255, 0.25);
}

.offlineResults {
  margin: auto;
  width: 100%;
  text-align: center;
  font-size: 200%;
}

#player1_2 {
  margin: auto;
  width: 40%;
  border: solid 2px white;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.25);
}
